@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 217.5 26.7% 94.1%;
    --foreground: 220 16.4% 21.6%;
    --card: 217.5 26.7% 94.1%;
    --card-foreground: 220 16.4% 21.6%;
    --popover: 217.5 26.7% 94.1%;
    --popover-foreground: 220 16.4% 21.6%;
    --primary: 213.1 32% 52.2%;
    --primary-foreground: 218.5 57.3% 2.7%;
    --secondary: 218.2 26.8% 92%;
    --secondary-foreground: 220 16.4% 51.6%;
    --muted: 218.8 27.9% 88%;
    --muted-foreground: 220 16.4% 51.6%;
    --accent: 218.8 27.9% 88%;
    --accent-foreground: 220 16.4% 41.6%;
    --destructive: 354.3 42.3% 56.5%;
    --destructive-foreground: 220 16.4% 21.6%;
    --border: 220 16.4% 51.6%;
    --input: 220 16.4% 51.6%;
    --ring: 213.1 32% 52.2%;
    --radius: 0.5rem;
    --chart-1: 213.1 32% 52.2%;
    --chart-2: 218.2 26.8% 92%;
    --chart-3: 218.8 27.9% 88%;
    --chart-4: 218.8 27.9% 98%;
    --chart-5: 213.1 32% 62.2%;
  }

  .dark {
    --background: 217.5 36.7% 10%;
    --foreground: 220 26.4% 78.4%;
    --card: 217.5 36.7% 10%;
    --card-foreground: 220 26.4% 78.4%;
    --popover: 217.5 36.7% 10%;
    --popover-foreground: 220 26.4% 78.4%;
    --primary: 213.1 42% 47.8%;
    --primary-foreground: 218.5 67.3% 90%;
    --secondary: 218.2 36.8% 10%;
    --secondary-foreground: 220 26.4% 48.4%;
    --muted: 218.8 37.9% 12%;
    --muted-foreground: 220 26.4% 48.4%;
    --accent: 218.8 37.9% 12%;
    --accent-foreground: 220 26.4% 58.4%;
    --destructive: 354.3 52.3% 43.5%;
    --destructive-foreground: 220 26.4% 78.4%;
    --border: 220 26.4% 48.4%;
    --input: 220 26.4% 48.4%;
    --ring: 213.1 42% 47.8%;
    --radius: 0.5rem;
    --chart-1: 213.1 42% 22.200000000000003%;
    --chart-2: 218.2 36.8% 60%;
    --chart-3: 218.8 37.9% 58%;
    --chart-4: 218.8 37.9% 60%;
    --chart-5: 213.1 42% 32.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
